// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Calibri, sans-serif;
}

h1 {
  margin-left: 50px;
}


p {
  margin-left: 50px;
}

.container li {
  display: inline;
  padding: 10px;
  border: blue 1px light;
  background: blue;
  margin: 10px;
  color: white;
  border-radius: 3px;
  font-size: 8px;
}

.container {
  margin-bottom: 40px;
}

form {
  margin-left: 50px;
}
